.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 5%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/

    flex-flow: column wrap;
    height:255px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
    
}
.conteudoPrincipal-cursos-link{
    width: 23%;
    margin-bottom: 3%;
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right:0%;
    margin-left:1%
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left:0;
    margin-right: 1%;
}

@media screen and (max-width:768px){
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
        
    }
    .rodapePrincipal-navMap-list{
        height: auto;
        
    }
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items:center;
    }
    .rodapePrincipal-patrocinadores-list{
        width: 100%;
        justify-content:space-around;
        margin-right: 0;
        
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
        justify-content: center;

    }

    .rodapePrincipal-contatoForm-legend{
        margin-left: auto;
        margin-right: auto;
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content:center
    }
    .rodapePrincipal-patrocinadores-list>li {
        width: 31.3%;
    }
}